@import url('https://fonts.googleapis.com/css2? family= Castoro & family= Roboto+Condensed:wght@300 & display=swap');

/************************* CORES ***********************/

:root {
  --branco: #fff;
  --preto: black;
  --cinzaclaro: silver;
  --cinza: grey; 
  --verde: green;
}